.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav_item {
  margin-right: 1rem;
}

.tracking form {
  display: flex;
  flex-direction: column;
}

.input__group {
  display: flex;
}

.input__group input {
  width: 100%;
}

.token_section {
  margin-bottom: 3rem;
}

.token_info__chips {
  display: flex;
  gap: 1rem;
  width: 100%;
}

.chips {
  font-size: smaller;
  background-color: #f2f2f0;
  padding-left: 0.5rem;
  padding-right: 1rem;
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
  border-radius: 0.2rem;
}

.chips_ok::before {
  content: '✔️ ';
}
.chips_fail::before {
  content: '❌ ';
}
