.header__wrapper {
  height: 3rem;
}

.header {
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav_item {
  margin-right: 1rem;
}

.tracking form {
  display: flex;
  flex-direction: column;
}
