<main>
  <h1>Токены доступа</h1>
  <section class='token_section'>
    <h2>Токен API Wilberries</h2>
    <form id='wb-token-form'>
      <div class='input__group'>
        <input type='text' name='token' placeholder='*********' />
        <button type='submit'>Обновить</button>
      </div>
    </form>

    <div class='token_info'>
      <div id='wb_token_info__valid'> Проверка токена... </div>
      <div class='token_info__chips'>
        <div class='chips' data-category='content'>Контент</div>
        <div class='chips' data-category='marketplace'>Маркетплейс</div>
        <div class='chips' data-category='feedbacks'>Вопросы и отзывы</div>
        <div class='chips' data-category='chat'>Чат с покупателем</div>
        <div class='chips' data-category='returns'>Возвраты</div>
      </div>
      <div id='wb-token-update-result'></div>
    </div>
  </section>

  <section class='token_section'>
    <h2>Токен бота Telegram</h2>
    <form id='tg-bot-token-form'>
      <div class='input__group'>
        <input type='text' name='token' placeholder='*********' />
        <button type='submit'>Обновить</button>
      </div>
    </form>

    <div class='token_info'>
      <div id='tg-token-info'>Проверка токена...</div>
      <div id='tg-token-update-result'></div>
    </div>

  </section>

  <section class='token_section'>
    <h2>ID пользователя или чата Telegram</h2>
    <form id='tg-chat-form'>
      <div class='input__group'>
        <input type='text' name='chat' placeholder='*********' />
        <button type='submit'>Обновить</button>
      </div>
    </form>

    <div id='tg-chat-update-result'></div>

  </section>

</main>
<script src='static/js/access.js'></script>