<main>
  <h1>Токены доступа</h1>
  <section class='token_section'>
    <h2>Токен API Wilberries</h2>
    <form action=''>
      <div class='input__group'>
        <input type='text' placeholder='*********' />
        <button type='submit'>Обновить</button>
      </div>
    </form>

    <div class='token_info'>
      <p class='token_info__valid'>
        ✔️ действует до 01.01.2027
      </p>
      <div class='token_info__chips'>
        <div class='chips chips_ok'>Контент</div>
        <div class='chips chips_ok'>Маркетплейс</div>
        <div class='chips chips_ok'>Вопросы и отзывы</div>
        <div class='chips chips_fail'>Чат с покупателем</div>
        <div class='chips chips_ok'>Возвраты</div>
      </div>
    </div>
  </section>

  <section class='token_section'>
    <h2>Токен бота Telegram</h2>
    <form id='tg-bot-token-form'>
      <div class='input__group'>
        <input type='text' name='token' placeholder='*********' />
        <button type='submit'>Обновить</button>
      </div>
    </form>

    <div class='token_info'>
      <div id='tg-token-info'></div>
      <div id='tg-token-update-result'></div>
    </div>

  </section>

  <section class='token_section'>
    <h2>ID пользователя или чата Telegram</h2>
    <form id='tg-chat-form'>
      <div class='input__group'>
        <input type='text' name='chat' placeholder='*********' />
        <button type='submit'>Обновить</button>
      </div>
    </form>

    <div id='tg-chat-update-result'></div>

  </section>

</main>
<script src='static/js/telegram-access.js'></script>