<main class='container'>
  <h1>Вход в панель управления</h1>
  <form id='login-form' action='/auth/login' method='post'>
    <label for='username'>Имя пользователя</label>
    <input type='text' name='username' autocomplete='username' required />

    <label for='password'>Пароль</label>
    <input type='password' name='password' autocomplete='password' required />

    <button type='submit'>Войти</button>
    <p id='error-message' style='color: red'></p>
  </form>
</main>
<script src='static/js/login.js'></script>