<main>
  <h1>Текущий статус</h1>
  <section>
    <div class='stats__item' data-category='orders'>
      <h3>Необработанные заказы</h3>
      <div class='stats__text'>Проверка...</div>
      <button class='stats__button'>Проверить</button>
    </div>
    <div class='stats__item' data-category='feedbacks'>
      <h3>Необработанные отзывы</h3>
      <div class='stats__text'>Проверка...</div>
      <button class='stats__button'>Проверить</button>
    </div>
    <div class='stats__item' data-category='questions'>
      <h3>Необработанные вопросы покупателей</h3>
      <div class='stats__text'>Проверка...</div>
      <button class='stats__button'>Проверить</button>
    </div>
    <div class='stats__item' data-category='chat'>
      <h3>Новые сообщения от покупателей</h3>
      <div class='stats__text'>Проверка...</div>
      <button class='stats__button'>Проверить</button>
    </div>
    <div class='stats__item' data-category='returns'>
      <h3>Новые заявки на возврат</h3>
      <div class='stats__text'>Проверка...</div>
      <button class='stats__button'>Проверить</button>
    </div>

  </section>
</main>
<script type='module' src='/static/js/stats.js'></script>