<div id='layout__header' class='header__wrapper'>
  <header class='header'>
    <nav>
      {{#each nav}}
        <a class='nav_item' href='{{this.link}}'>{{this.label}}</a>
      {{/each}}
    </nav>
    <form method='POST' action='/auth/logout'>
      <button type='submit'>Выход</button>
    </form>
  </header>
  <hr />
</div>